[APP]
DEBUG=true
PORT=8020

[DATABASE]
URL=192.168.99.100:32769
ENDPOINT=http://192.168.99.100:32769/db/data
USERNAME=neo4j
PASSWORD=admin

[RELATIONAL]
URL=mysql://USERNAME:PASSWORD@MYSQLHOST/neo-movies